@page "/Registro/Index"
@rendermode InteractiveServer
@inject NavigationManager navigation

<PageTitle></PageTitle>
<div class="Container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title">Registro</h5>
        </div>
        
        <div class="card-body">

            <a href="#"
            class="btn btn-primary">
            <span class="bi bi-plus-square-fill mt-3"></span> Crear
        </a>

        <table class="table table-light table-bordered">
            <thead class="table table-striped text-center text-white">
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </div>
    
    </div>
        
</div>


@code {

}
