@page "/CobroDetalle/Delete"
@page "/CobroDetalle/Delete/{Id:int}"
@inject CobroDetalleService CobroDetalleService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@if (CobroDetalle != null)
{
    <div class="container">
        <div class="card shadow-header">
            <!-- Header -->
            <div class="card-header bg-primary text-white text-center py-2 rounded">
                <h3><strong>Eliminar Detalle de Cobro</strong></h3>
            </div>
            <div class="card-header">
                <h3 class="text-danger">¿Estás seguro de que quieres eliminar este detalle de cobro?</h3>
            </div>
            <!-- Body -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-header">
                                <h3 class="text-center"><strong>Datos del Detalle de Cobro</strong></h3>
                            </div>
                            <div class="card-body">
                                <div class="border-primary border-2 borde">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <ul class="list-unstyled">
                                                    <li><strong>DetalleId:</strong> @CobroDetalle.DetalleId</li>
                                                    <li><strong>CobroId:</strong> @CobroDetalle.CobroId</li>
                                                    <li><strong>PrestamoId:</strong> @CobroDetalle.PrestamoId</li>
                                                    <li><strong>Valor Cobrado:</strong> @CobroDetalle.ValorCobrado</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <div class="card-footer">
                <button type="button" class="btn btn-outline-danger" @onclick="EliminarCobroDetalle">
                    <i class="bi bi-trash-fill"></i> Eliminar
                </button>
                <a href="/CobroDetalle/Index" class="btn btn-outline-primary">
                    <i class="bi bi-box-arrow-left"></i> Volver
                </a>
            </div>
        </div>
    </div>
}
else
{
    <p>Registro no encontrado.</p>
}

@code {
    [Parameter]
    public int Id { get; set; }
    public CobroDetalle? CobroDetalle { get; set; } = new CobroDetalle();

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            CobroDetalle = await CobroDetalleService.Buscar(Id);
        }
    }

    public async Task EliminarCobroDetalle()
    {
        if (Id == 0 && CobroDetalle == null)
        {
            return;
        }
        if (await CobroDetalleService.Eliminar(Id))
        {
            navigationManager.NavigateTo("/CobroDetalle/Index");
        }
    }
}

